:local {
  .headingWrapper {
    height: 80vh;
    margin: 0 auto;
    padding-top: 75px;

    .heading {
      width: 60%;

      .left {
        h1 {
          font-weight: 600;
          font-size: 36px;
          color: var(--primary-color);
        }

        h2 {
          font-weight: 500;
          font-size: 24px;
          color: var(--secondary-color);
        }
      }
    }
  }

  @media screen and (min-width: 1100px) {
    .headingWrapper {
      width: 1100px;
    }
  }
}
