#jumbotron {
    width: 100%;
    background-color: rgb(61, 61, 61);
    min-height: 500px;
    align-content: center;
    padding-top: 100px;
}

#jumbotron h1 {
    margin: 0;
    color: #fff;
}

#jumbotron h2 {
    color: #fff;
}