:root,
:root.light {
    --background-color: #fff;
    --primary-color: #00083D;
    --call-to-action-color: #3379E2;
    --secondary-color: #646464;
}


:local {
    .app {
        width: 100vw;
        height: 100vh;
        background-color: var(--background-color);
    }
}